<?xml version="1.0" encoding="utf-8"?>
<Media Key="d833b23e-043d-4f04-990e-9f781a402188" Alias="01.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-12-09T01:34:37</CreateDate>
    <NodeName Default="01.svg" />
    <SortOrder>27</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/zqhjcorg/01.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>