<?xml version="1.0" encoding="utf-8"?>
<Media Key="91ade042-caff-48e3-9a26-919b0df32fde" Alias="Brand.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Brandsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-14T22:59:17</CreateDate>
    <NodeName Default="Brand.svg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/wbob425e/brand.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>