<?xml version="1.0" encoding="utf-8"?>
<Media Key="c1bee353-77f1-46be-92b5-4cbaa4dad703" Alias="entity (1)" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/entity1</Path>
    <Trashed Parent="916724a5-173d-4619-b97e-b9de133dd6f5">true</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-12-04T09:52:44</CreateDate>
    <NodeName Default="entity (1)" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ufpbyi5k/02.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>