<?xml version="1.0" encoding="utf-8"?>
<Media Key="c069c72c-3016-4040-9b0f-8757d2f82cea" Alias="fossile-group" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/fossileGroup</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-12-04T08:46:19</CreateDate>
    <NodeName Default="fossile-group" />
    <SortOrder>11</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/umgd43t5/06.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>