<?xml version="1.0" encoding="utf-8"?>
<Media Key="9e80a417-9c67-4624-9461-295a11d8fd9f" Alias="fossil-group" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/fossilGroup</Path>
    <Trashed Parent="916724a5-173d-4619-b97e-b9de133dd6f5">true</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-12-04T09:54:56</CreateDate>
    <NodeName Default="fossil-group" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/2umde5d2/06.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>