<?xml version="1.0" encoding="utf-8"?>
<Media Key="26aaca0c-fc0a-42a7-9c2a-21d7f44b599a" Alias="globe (1)" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/globe1</Path>
    <Trashed Parent="916724a5-173d-4619-b97e-b9de133dd6f5">true</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-12-04T09:54:07</CreateDate>
    <NodeName Default="globe (1)" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/5z1brrar/05.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>