<?xml version="1.0" encoding="utf-8"?>
<Media Key="ac519d3c-a075-4edd-9e94-68f053191728" Alias="hero-contact" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/heroContact</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-12-03T23:22:56</CreateDate>
    <NodeName Default="hero-contact" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/zyqpgtto/img-5-e1695109900349-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>