<?xml version="1.0" encoding="utf-8"?>
<Media Key="dd11189a-438d-4d08-8128-0cc9f2273a3a" Alias="image-13-min 1.png" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/image13Min1png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-12-07T00:30:25</CreateDate>
    <NodeName Default="image-13-min 1.png" />
    <SortOrder>17</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/cxjfo05e/image-13-min-1.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>