<?xml version="1.0" encoding="utf-8"?>
<Media Key="5e841428-4785-46aa-aaf0-6adf0dc6f150" Alias="image-18-min 1.png" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/image18Min1png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-12-07T00:30:24</CreateDate>
    <NodeName Default="image-18-min 1.png" />
    <SortOrder>16</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/u5pmf0hm/image-18-min-1.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>