<?xml version="1.0" encoding="utf-8"?>
<Media Key="10beddf5-a0f1-4de4-b876-38714a266279" Alias="image-21-min 1.png" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/image21Min1png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-12-07T00:30:23</CreateDate>
    <NodeName Default="image-21-min 1.png" />
    <SortOrder>15</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/pilprjuy/image-21-min-1.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>