<?xml version="1.0" encoding="utf-8"?>
<Media Key="307f7901-a080-4542-b4ae-0a4aec02312a" Alias="image-106 1.png" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/image1061png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-12-07T18:19:59</CreateDate>
    <NodeName Default="image-106 1.png" />
    <SortOrder>22</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/r0zdtbxj/image-106-1.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>