<?xml version="1.0" encoding="utf-8"?>
<Media Key="015262d4-1110-4d22-82b2-651abc7b018a" Alias="Img-1 2.png" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Img12png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-12-06T22:32:43</CreateDate>
    <NodeName Default="Img-1 2.png" />
    <SortOrder>13</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/loubjn1z/img-1-2.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>