<?xml version="1.0" encoding="utf-8"?>
<Media Key="97bfc61c-8dc3-4c54-9083-a9f9e71147fd" Alias="Img-1 1.png" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Img11png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-12-06T22:32:44</CreateDate>
    <NodeName Default="Img-1 1.png" />
    <SortOrder>14</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/smgpsink/img-1-1.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>