<?xml version="1.0" encoding="utf-8"?>
<Media Key="cdb656b9-0ca9-4078-8f84-b84fc40a0f43" Alias="natural (1)" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/natural1</Path>
    <Trashed Parent="916724a5-173d-4619-b97e-b9de133dd6f5">true</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-12-04T09:53:10</CreateDate>
    <NodeName Default="natural (1)" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/jpvbil3s/03.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>