<?xml version="1.0" encoding="utf-8"?>
<Media Key="a09cfff7-6f41-481c-9294-9079c975aa63" Alias="natural" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/natural</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-12-04T08:44:26</CreateDate>
    <NodeName Default="natural" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/pa0nufri/03.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>