<?xml version="1.0" encoding="utf-8"?>
<Media Key="45b6759d-8b52-4138-b21e-88e0023f36fe" Alias="simple-leaf" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/simpleLeaf</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-12-04T08:45:03</CreateDate>
    <NodeName Default="simple-leaf" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/ck5pb2z1/04.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>