<?xml version="1.0" encoding="utf-8"?>
<Media Key="9d7ce704-c9ad-45a6-ad20-31c67d13396e" Alias="simple-leaf (1)" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/simpleLeaf1</Path>
    <Trashed Parent="916724a5-173d-4619-b97e-b9de133dd6f5">true</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-12-04T09:53:37</CreateDate>
    <NodeName Default="simple-leaf (1)" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/4znn253w/04.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>