@using Umbraco.Cms.Web.Common.PublishedModels
@using Umbraco.Extensions
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

@{
    Layout = null;

    var currentPage = Umbraco.AssignedContentItem;
    var pageTitle = !string.IsNullOrEmpty(currentPage?.Name)
        ? $"Onatrix | {currentPage.Name}"
        : "Onatrix";

    var rootContent = Umbraco.ContentAtRoot().FirstOrDefault();
    var siteSettings = rootContent?.Children?.FirstOrDefault(x => x.ContentType.Alias == "siteSetting");
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@pageTitle</title>


    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css"
          integrity="sha512-2SwdPD6INVrV/LHTZb02nodkhrnDdJK9/kg2XD1r9uGGqPo1cUbu9c+IYdIYdEEr…"
          crossorigin="anonymous" />

    <script src="https://cdn.tailwindcss.com"></script>

    <link href="~/css/style.css"
          rel="stylesheet"
          asp-append-version="true" />
</head>

<body>

    <partial name="Partials/Layouts/_Topbar" />

    <partial name="Partials/Layouts/_Navbar" />

    @RenderBody()

    <partial name="Partials/Layouts/_Footer" />

</body>
</html>

