@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

@{
    Layout = null;

    var currentPage = Umbraco.AssignedContentItem;
    var pageTitle = !string.IsNullOrEmpty(currentPage?.Name)
        ? $"Onatrix | {currentPage.Name}"
        : "Onatrix";
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@pageTitle</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="@Url.Content("~/css/style.css")" rel="stylesheet" />
</head>
<body>

	<partial name="Partials/Layouts/_Topbar.cshtml" />

    @RenderBody()
</body>
</html>
