<?xml version="1.0" encoding="utf-8"?>
<Content Key="0bb4e14a-53c1-4c51-9457-47dfc08c5821" Alias="Contact " Level="2">
  <Info>
    <Parent Key="82c926c2-d98f-425a-aeb4-846f6af799cd">Onatrix</Parent>
    <Path>/Onatrix/Contact</Path>
    <Trashed>false</Trashed>
    <ContentType>contactPage</ContentType>
    <CreateDate>2025-12-05T23:26:21</CreateDate>
    <NodeName Default="Contact " />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="7184dfc9-6dfe-4a42-9a7a-8f44c67694a5">ContactPage</Template>
  </Info>
  <Properties>
    <bannerTitle>
      <Value><![CDATA[]]></Value>
    </bannerTitle>
  </Properties>
</Content>