<?xml version="1.0" encoding="utf-8"?>
<Content Key="82c926c2-d98f-425a-aeb4-846f6af799cd" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>homePage</ContentType>
    <CreateDate>2025-11-12T23:18:20</CreateDate>
    <NodeName Default="Home" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="aad7d58c-a2e7-4f86-af34-260a5272f2f4">HomePage</Template>
  </Info>
  <Properties>
    <heroLink>
      <Value><![CDATA[[
  {
    "name": "Contact Us",
    "target": null,
    "udi": "umb://document/d37320e524fb481d8332d2dc46b921a1",
    "url": null,
    "queryString": null
  }
]]]></Value>
    </heroLink>
    <heroPgImage>
      <Value><![CDATA[[
  {
    "key": "29de364d-e208-41ce-983d-9814342628a8",
    "mediaKey": "68f76cc7-44f3-48a2-8747-da1926cffe4c",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </heroPgImage>
    <heroText>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003ELorem ipsum dolor sit amet, consectetur. adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim\u003C/span\u003E\u003C/p\u003E"
}]]></Value>
    </heroText>
    <heroTitle>
      <Value><![CDATA[We bring success to you]]></Value>
    </heroTitle>
  </Properties>
</Content>