<?xml version="1.0" encoding="utf-8"?>
<Content Key="82c926c2-d98f-425a-aeb4-846f6af799cd" Alias="Onatrix" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Onatrix</Path>
    <Trashed>false</Trashed>
    <ContentType>homePage</ContentType>
    <CreateDate>2025-11-12T23:18:20</CreateDate>
    <NodeName Default="Onatrix" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="aad7d58c-a2e7-4f86-af34-260a5272f2f4">HomePage</Template>
  </Info>
  <Properties>
    <heroBgImage>
      <Value><![CDATA[[
  {
    "key": "a7887163-e0dc-46c0-b327-aa457bc02887",
    "mediaKey": "68f76cc7-44f3-48a2-8747-da1926cffe4c",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </heroBgImage>
    <heroLink>
      <Value><![CDATA[[
  {
    "name": "Contact Us",
    "target": null,
    "udi": "umb://document/d37320e524fb481d8332d2dc46b921a1",
    "url": null,
    "queryString": null
  }
]]]></Value>
    </heroLink>
    <heroText>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003ELorem ipsum dolor sit amet, consectetur. adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim\u003C/span\u003E\u003C/p\u003E"
}]]></Value>
    </heroText>
    <heroTitle>
      <Value><![CDATA[We bring success to you]]></Value>
    </heroTitle>
    <introDescription>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003EDolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium.\u003C/span\u003E\u003C/p\u003E"
}]]></Value>
    </introDescription>
    <introFounder>
      <Value><![CDATA[Tina Fox - CEO & Founder]]></Value>
    </introFounder>
    <introSignature>
      <Value><![CDATA[[
  {
    "key": "c1cf1bee-106e-4f16-880c-9ba8ec403696",
    "mediaKey": "c8d37102-512e-473a-9989-dccd61ef6955",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </introSignature>
    <introText>
      <Value><![CDATA[“We have over 25 years of experience providing expert financial advice to both businesses and individuals.”]]></Value>
    </introText>
    <introTitle>
      <Value><![CDATA[We have 40 years experience]]></Value>
    </introTitle>
    <section2Photo>
      <Value><![CDATA[[
  {
    "key": "d6b868a4-5cbd-434f-be52-5f910ba2289c",
    "mediaKey": "97bfc61c-8dc3-4c54-9083-a9f9e71147fd",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </section2Photo>
    <section2Text>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003ELorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quis molestie nulla. Nam \u003C/span\u003E\u003C/p\u003E\u003Cp\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003Eaccumsanporttitor arcu,ac tincidunt lectus tincidunt sed.\u003C/span\u003E\u003C/p\u003E"
}]]></Value>
    </section2Text>
    <section2Title>
      <Value><![CDATA[We are trusted by more than]]></Value>
    </section2Title>
    <section3Photo>
      <Value><![CDATA[[
  {
    "key": "3bd98810-002f-412c-8c2c-dc8d6892bdca",
    "mediaKey": "015262d4-1110-4d22-82b2-651abc7b018a",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </section3Photo>
    <section3Text>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003ESuccess story\u003C/span\u003E\u003C/p\u003E"
}]]></Value>
    </section3Text>
    <section3Title>
      <Value><![CDATA[success stories]]></Value>
    </section3Title>
    <serviceDescription1>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003EDolor in reprehenderit in voluptate velit esse \u003C/span\u003E\u003C/p\u003E\u003Cp\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003Ecillum dolore eu fugiat nulla pariatur. \u003C/span\u003E\u003C/p\u003E\u003Cp\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003EExcepteur sint occaecat cupidatat non\u003C/span\u003E\u003C/p\u003E"
}]]></Value>
    </serviceDescription1>
    <serviceDescription2>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003EDolor in reprehenderit in voluptate velit esse \u003C/span\u003E\u003C/p\u003E\u003Cp\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003Ecillum dolore eu fugiat nulla pariatur. \u003C/span\u003E\u003C/p\u003E\u003Cp\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003EExcepteur sint occaecat cupidatat non\u003C/span\u003E\u003C/p\u003E"
}]]></Value>
    </serviceDescription2>
    <serviceDescription3>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003EDolor in reprehenderit in voluptate velit esse \u003C/span\u003E\u003C/p\u003E\u003Cp\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003Ecillum dolore eu fugiat nulla pariatur. \u003C/span\u003E\u003C/p\u003E\u003Cp\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003EExcepteur sint occaecat cupidatat non\u003C/span\u003E\u003C/p\u003E"
}]]></Value>
    </serviceDescription3>
    <serviceDescription4>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003EDolor in reprehenderit in voluptate velit esse \u003C/span\u003E\u003C/p\u003E\u003Cp\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003Ecillum dolore eu fugiat nulla pariatur. \u003C/span\u003E\u003C/p\u003E\u003Cp\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003EExcepteur sint occaecat cupidatat non\u003C/span\u003E\u003C/p\u003E"
}]]></Value>
    </serviceDescription4>
    <serviceDescription5>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003EDolor in reprehenderit in voluptate velit esse \u003C/span\u003E\u003C/p\u003E\u003Cp\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003Ecillum dolore eu fugiat nulla pariatur. \u003C/span\u003E\u003C/p\u003E\u003Cp\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003EExcepteur sint occaecat cupidatat non\u003C/span\u003E\u003C/p\u003E"
}]]></Value>
    </serviceDescription5>
    <serviceDescription6>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003EDolor in reprehenderit in voluptate velit esse \u003C/span\u003E\u003C/p\u003E\u003Cp\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003Ecillum dolore eu fugiat nulla pariatur. \u003C/span\u003E\u003C/p\u003E\u003Cp\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003EExcepteur sint occaecat cupidatat non\u003C/span\u003E\u003C/p\u003E"
}]]></Value>
    </serviceDescription6>
    <servicePhoto1>
      <Value><![CDATA[[
  {
    "key": "a2e50d15-141b-482e-9bad-8d8275bfbe12",
    "mediaKey": "10beddf5-a0f1-4de4-b876-38714a266279",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </servicePhoto1>
    <servicePhoto2>
      <Value><![CDATA[[
  {
    "key": "df3ab30a-35dc-40f5-b1d8-dae58920c068",
    "mediaKey": "5e841428-4785-46aa-aaf0-6adf0dc6f150",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </servicePhoto2>
    <servicePhoto3>
      <Value><![CDATA[[
  {
    "key": "ddf44a02-a93a-48c2-b2c2-a6aada05fe39",
    "mediaKey": "dd11189a-438d-4d08-8128-0cc9f2273a3a",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </servicePhoto3>
    <servicePhoto4>
      <Value><![CDATA[[
  {
    "key": "4f8d62fe-96ac-4483-afeb-0bc14e7ac280",
    "mediaKey": "b398f109-f004-48c5-b767-62933e64d290",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </servicePhoto4>
    <servicePhoto5>
      <Value><![CDATA[[
  {
    "key": "25227f0b-d1e5-4e08-abcb-b762ffd05582",
    "mediaKey": "a59aaeb1-4262-4aae-b25f-c024f7876cf4",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </servicePhoto5>
    <servicePhoto6>
      <Value><![CDATA[[
  {
    "key": "842e3148-180c-46b2-979a-52f2057e1192",
    "mediaKey": "7dc53bfc-49e7-4859-9d47-c7eb4b0f40d5",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </servicePhoto6>
    <serviceText>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003EWe Provide The Solutions \u003C/span\u003E\u003Cbr\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003ETo Grow Your Business Faster\u003C/span\u003E\u003C/p\u003E"
}]]></Value>
    </serviceText>
    <serviceTitle>
      <Value><![CDATA[Our Services]]></Value>
    </serviceTitle>
    <serviceTitle1>
      <Value><![CDATA[Risk Management]]></Value>
    </serviceTitle1>
    <serviceTitle2>
      <Value><![CDATA[Bonds & Commodities]]></Value>
    </serviceTitle2>
    <serviceTitle3>
      <Value><![CDATA[Assurance & Audits]]></Value>
    </serviceTitle3>
    <serviceTitle4>
      <Value><![CDATA[Tax and Trusts]]></Value>
    </serviceTitle4>
    <serviceTitle5>
      <Value><![CDATA[Financial Advisor]]></Value>
    </serviceTitle5>
    <serviceTitle6>
      <Value><![CDATA[Statistic Advisors]]></Value>
    </serviceTitle6>
  </Properties>
</Content>