<?xml version="1.0" encoding="utf-8"?>
<Content Key="de0354be-e62c-41bf-a338-3fc22c5bf762" Alias="Projects" Level="2">
  <Info>
    <Parent Key="82c926c2-d98f-425a-aeb4-846f6af799cd">Onatrix</Parent>
    <Path>/Onatrix/Projects</Path>
    <Trashed>false</Trashed>
    <ContentType>projectsPage</ContentType>
    <CreateDate>2025-12-05T23:25:43</CreateDate>
    <NodeName Default="Projects" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="d0627d07-d5c5-4cd6-ad31-85c4ddc625bd">projectsPage</Template>
  </Info>
  <Properties />
</Content>