<?xml version="1.0" encoding="utf-8"?>
<Content Key="09ee999c-0445-4fed-86c8-810a12388441" Alias="Services" Level="2">
  <Info>
    <Parent Key="82c926c2-d98f-425a-aeb4-846f6af799cd">Onatrix</Parent>
    <Path>/Onatrix/Services</Path>
    <Trashed>false</Trashed>
    <ContentType>servicesPage</ContentType>
    <CreateDate>2025-12-05T23:07:53</CreateDate>
    <NodeName Default="Services" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="38b0f5c2-9d91-4d57-bda5-0b4855c5770f">servicesPage</Template>
  </Info>
  <Properties />
</Content>