<?xml version="1.0" encoding="utf-8"?>
<Content Key="b300bd46-e58c-4752-9f8a-707e80998c8a" Alias="Site Setting" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/SiteSetting</Path>
    <Trashed Parent="916724a5-173d-4619-b97e-b9de133dd6f5">true</Trashed>
    <ContentType>siteSetting</ContentType>
    <CreateDate>2025-12-09T01:51:06</CreateDate>
    <NodeName Default="Site Setting" />
    <SortOrder>3</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <contactAddress>
      <Value><![CDATA[Klarabergsviadukten 90, 111 52 Stockholm]]></Value>
    </contactAddress>
    <contactEmail>
      <Value><![CDATA[sales@onatrix.com]]></Value>
    </contactEmail>
    <contactPhone>
      <Value><![CDATA[+46 8 123 456 75]]></Value>
    </contactPhone>
    <platformList>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "b20bc148-89c8-4b8e-9849-0dddd8d46830",
      "key": "89ee2abf-05db-49ac-8f85-671c46088514",
      "udi": null,
      "values": [
        {
          "alias": "platformAccountUrl",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "https:// www.facebook.com"
        }
      ]
    },
    {
      "contentTypeKey": "b20bc148-89c8-4b8e-9849-0dddd8d46830",
      "key": "de559edd-5c59-438d-a10b-8ee7aa7aa349",
      "udi": null,
      "values": [
        {
          "alias": "platformAccountUrl",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "https:// www.linkedin.com"
        }
      ]
    },
    {
      "contentTypeKey": "b20bc148-89c8-4b8e-9849-0dddd8d46830",
      "key": "58f8c664-6329-41eb-bb13-1ef986cb22c4",
      "udi": null,
      "values": [
        {
          "alias": "platformAccountUrl",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "https:// www.youtube.com"
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "89ee2abf-05db-49ac-8f85-671c46088514",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "de559edd-5c59-438d-a10b-8ee7aa7aa349",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "58f8c664-6329-41eb-bb13-1ef986cb22c4",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "89ee2abf-05db-49ac-8f85-671c46088514",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "de559edd-5c59-438d-a10b-8ee7aa7aa349",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "58f8c664-6329-41eb-bb13-1ef986cb22c4",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </platformList>
    <siteLogo>
      <Value><![CDATA[[
  {
    "key": "dcbff95c-f413-4278-b877-02282285c7dc",
    "mediaKey": "91ade042-caff-48e3-9a26-919b0df32fde",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </siteLogo>
    <siteName>
      <Value><![CDATA[Onatrix]]></Value>
    </siteName>
  </Properties>
</Content>