<?xml version="1.0" encoding="utf-8"?>
<Content Key="df8b0694-b23f-4172-ad67-94cfa348ce6e" Alias="Site Setting" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/SiteSetting</Path>
    <Trashed>false</Trashed>
    <ContentType>siteSetting</ContentType>
    <CreateDate>2025-11-14T23:02:51</CreateDate>
    <NodeName Default="Site Setting" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <contactAddress>
      <Value><![CDATA[Klarabergsviadukten 90, 111 52 Stockholm]]></Value>
    </contactAddress>
    <contactEmail>
      <Value><![CDATA[sales@onatrix.com]]></Value>
    </contactEmail>
    <contactPhone>
      <Value><![CDATA[+46 8 123 456 75]]></Value>
    </contactPhone>
    <platformList>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "b20bc148-89c8-4b8e-9849-0dddd8d46830",
      "key": "ed28dd05-b22e-4c8f-947d-29372b9d080c",
      "udi": null,
      "values": [
        {
          "alias": "platformName",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "Facebook"
          ]
        },
        {
          "alias": "platformAccountUrl",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "https:// www.facebook.com"
        }
      ]
    },
    {
      "contentTypeKey": "b20bc148-89c8-4b8e-9849-0dddd8d46830",
      "key": "440ec178-0606-4cf9-b427-037dc5c56827",
      "udi": null,
      "values": [
        {
          "alias": "platformName",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "LinkedIn"
          ]
        },
        {
          "alias": "platformAccountUrl",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "https:// www.linkedin.com"
        }
      ]
    },
    {
      "contentTypeKey": "b20bc148-89c8-4b8e-9849-0dddd8d46830",
      "key": "d2c4a3d7-1b52-45b0-b8b8-a6265406ea0a",
      "udi": null,
      "values": [
        {
          "alias": "platformName",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "YouTube"
          ]
        },
        {
          "alias": "platformAccountUrl",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "https:// www.youtube.com"
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "ed28dd05-b22e-4c8f-947d-29372b9d080c",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "440ec178-0606-4cf9-b427-037dc5c56827",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "d2c4a3d7-1b52-45b0-b8b8-a6265406ea0a",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "ed28dd05-b22e-4c8f-947d-29372b9d080c",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "440ec178-0606-4cf9-b427-037dc5c56827",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "d2c4a3d7-1b52-45b0-b8b8-a6265406ea0a",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </platformList>
    <siteLogo>
      <Value><![CDATA[[
  {
    "key": "fe655351-2575-4f09-8c8a-8cc0b4910335",
    "mediaKey": "91ade042-caff-48e3-9a26-919b0df32fde",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </siteLogo>
    <siteName>
      <Value><![CDATA[Onatrix]]></Value>
    </siteName>
  </Properties>
</Content>