<?xml version="1.0" encoding="utf-8"?>
<DataType Key="9e9f4be4-8324-4624-8cf0-f0f77557c46f" Alias="About Page - Contact Email - Email Property Editor UI" Level="1">
  <Info>
    <Name>About Page - Contact Email - Email Property Editor UI</Name>
    <EditorAlias>Umbraco.EmailAddress</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.EmailAddress</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "inputType": "email"
}]]></Config>
</DataType>