<?xml version="1.0" encoding="utf-8"?>
<DataType Key="941bb810-3978-443b-ac90-89f52e97c60b" Alias="Site Setting - Platform List" Level="1">
  <Info>
    <Name>Site Setting - Platform List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "b20bc148-89c8-4b8e-9849-0dddd8d46830",
      "label": "{umbValue: platformName}",
      "backgroundColor": "#00000000",
      "iconColor": "#000000"
    },
    {
      "contentElementTypeKey": "f460b305-ba63-4228-9795-eebd022e5a2c"
    }
  ]
}]]></Config>
</DataType>