<footer class="w-full">

    <div class="m-10">
        <div class="max-w-5xl mx-auto px-4 sm:px-6 lg:px-8">
            <div class="flex flex-wrap items-center justify-center gap-8 sm:gap-12 lg:gap-14 opacity-70">
                <img src="http://localhost:30778/media/ksib3wm0/01.png"
                     alt="FreedomBird"
                     class="h-8 w-auto" />

                <img src="http://localhost:30778/media/ucmdpsyo/02.png"
                     alt="Identity"
                     class="h-8 w-auto" />

                <img src="http://localhost:30778/media/pa0nufri/03.png"
                     alt="Natural"
                     class="h-8 w-auto" />

                <img src="http://localhost:30778/media/ck5pb2z1/04.png"
                     alt="Simpleaf"
                     class="h-8 w-auto" />

                <img src="http://localhost:30778/media/gaifunwn/05.png"
                     alt="Globe"
                     class="h-8 w-auto" />

                <img src="http://localhost:30778/media/umgd43t5/06.png"
                     alt="FossilGroup"
                     class="h-8 w-auto" />
            </div>
        </div>
    </div>
    <div class="bg-[#1a1a1a] text-center py-5">
        <p class="text-gray-300 text-sm">
            &copy; Onatrix. All Rights Reserved. Credits to Themesflat
        </p>
    </div>


</footer>
