@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

@{
    var rootContent = Umbraco.ContentAtRoot();
    var siteSettings = rootContent.OfType<SiteSetting>().FirstOrDefault();

    var contactAddress = siteSettings?.ContactAddress ?? "Ingen address angiven";
}

<div class="bg-[#4f5955]">
    <div class="max-w-7xl mx-auto px-4 flex items-center justify-between">
        <p class="text-xs text-white">@contactAddress</p>

        <div class="flex">
            @if (siteSettings?.PlatformList != null)
            {
                foreach (var item in siteSettings.PlatformList)
                {
                    if (item.Content is SocialMediaItem mediaItem)
                    {
                        var platform = mediaItem.PlatformName?.ToLowerInvariant();

                        if (platform == "facebook")
                        {
                            <a href="@mediaItem.PlatformAccountUrl"
                               target="_blank"
                               class="flex items-center p-3 text-base text-white border-l border-[var(--clr-main-light)] last:border-r">
                                <i class="fa-brands fa-facebook-f"></i>
                            </a>
                        }
                        else if (platform == "linkedin")
                        {
                            <a href="@mediaItem.PlatformAccountUrl"
                               target="_blank"
                               class="flex items-center p-3 text-base text-white border-l border-[var(--clr-main-light)] last:border-r">
                                <i class="fa-brands fa-linkedin-in"></i>
                            </a>
                        }
                        else if (platform == "youtube")
                        {
                            <a href="@mediaItem.PlatformAccountUrl"
                               target="_blank"
                               class="flex items-center p-3 text-base text-white border-l border-[var(--clr-main-light)] last:border-r">
                                <i class="fa-brands fa-youtube"></i>
                            </a>
                        }
                    }
                }
            }
        </div>
    </div>
</div>
